*foreground: #DCDCCC
*background: #2C2C2C

*color0:  #709080
*color1:  #DCA3A3
*color2:  #72D5A3
*color3:  #F0DFAF
*color4:  #94BFF3
*color5:  #EC93D3
*color6:  #93E0E3
*color7:  #FFFFFF

*color8:  #3F3F3F
*color9:  #705050
*color10: #60B48A
*color11: #DFAF8F
*color12: #9AB8D7
*color13: #DC8CC3
*color14: #8CD0D3
*color15: #DCDCCC

URxvt*scrollBar: false
URxvt*scrollWithBuffer: true
URxvt*buffered: false
URxvt*perl-ext:
URxvt*perl-ext-common:
URxvt*font: -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*

UXTerm*font: -*-terminus-medium-r-*-*-14-*-*-*-*-*-iso10646-*
